{% set active_page = "heatmap" -%}
{% extends "templates/base.html" %}

{% block css %}
<!-- bootstrap slider -->
<link href="/floorplan/static/css/bootstrap-slider/slider.css" rel="stylesheet" type="text/css" />
<!-- Theme style -->
<!--link rel="stylesheet" type="text/css" href="static/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="static/css/rickshaw.css" /-->
<link rel="stylesheet" type="text/css" href="/floorplan/static/css/heatmap.css" />
{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Heatmap
    <small>Live tracking of customers</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Heatmap</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Some statistics -->
  <div class="row">
    <div class="col-xs-12">
        <!-- Always set range to max range. Initialization depends on this. -->
        <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="500" data-slider-step="5" data-slider-value="[0,500]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="blue" style="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <canvas id="heatmap-area" width="540" height="540"></canvas>
      <svg width="640" height="480" xmlns="http://www.w3.org/2000/svg">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <g>
        <title>Layer 1</title>
        <circle id="svg_1" r="53.41348" cy="183" cx="96" stroke-width="5" stroke="#000000" fill="#FF0000"/>
       </g>
      </svg>

    </div>
  </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}
{% block scripts %}
<script>var fpURL="{{ fp.floorplan_url }}";</script>
<!-- Bootstrap slider -->
<script src="/floorplan/static/js/plugins/bootstrap-slider/bootstrap-slider.js" type="text/javascript"></script>
<!-- Heatmap WebGL -->
<script type="text/javascript" src="/floorplan/static/js/webgl-heatmap.js"></script>
<script type="text/javascript">
  window.onload = function(){
    var data = [
      {x: 470, y: 306, time: "shit sohw"},
      {x: 445, y: 309, time: "shit sohw"},
      {x: 415, y: 315, time: "shit sohw"},
      {x: 245, y: 332, time: "shit sohw"},
      {x: 126, y: 347, time: "shit sohw"},
      {x: 72, y: 352 , time: "shit poop"},
      {x: 49, y: 353 , time: "shit poop"},
      {x: 38, y: 348 , time: "shit poop"},
      {x: 38, y: 347 , time: "shit poop"},
      {x: 38, y: 312 , time: "shit poop"},
      {x: 38, y: 302 , time: "shit poop"},
      {x: 38, y: 297 , time: "shit poop"},
      {x: 38, y: 277 , time: "shit poop"},
      {x: 38, y: 248 , time: "shit poop"},
      {x: 38, y: 214 , time: "shit poop"},
      {x: 38, y: 202 , time: "shit poop"},
      {x: 38, y: 194 , time: "shit poop"},
      {x: 40, y: 194 , time: "shit poop"},
      {x: 60, y: 194 , time: "shit poop"},
      {x: 69, y: 194 , time: "shit poop"},
      {x: 78, y: 194 , time: "shit poop"},
      {x: 95, y: 195 , time: "shit poop"},
      {x: 102, y: 195, time: "hello kit"},
      {x: 109, y: 195, time: "hello kit"},
      {x: 117, y: 195, time: "hello kit"},
      {x: 126, y: 195, time: "hello kit"},
      {x: 131, y: 194, time: "hello kit"},
      {x: 134, y: 192, time: "hello kit"},
      {x: 137, y: 192, time: "hello kit"},
      {x: 142, y: 192, time: "hello kit"},
      {x: 145, y: 192, time: "hello kit"},
      {x: 148, y: 192, time: "hello kit"},
      {x: 154, y: 192, time: "hello kit"},
      {x: 168, y: 192, time: "hello kit"},
      {x: 172, y: 192, time: "hello kit"},
      {x: 179, y: 192, time: "hello kit"},
      {x: 191, y: 191, time: "hello kit"},
      {x: 202, y: 190, time: "hello kit"},
      {x: 214, y: 190, time: "hello kit"},
      {x: 235, y: 189, time: "hello kit"},
      {x: 257, y: 188, time: "hello kit"},
      {x: 284, y: 186, time: "hello kit"},
      {x: 308, y: 182, time: "hello kit"},
      {x: 323, y: 179, time: "hello kit"},
      {x: 331, y: 177, time: "hello kit"},
      {x: 331, y: 175, time: "hello kit"},
      {x: 333, y: 175, time: "hello kit"},
      {x: 345, y: 175, time: "hello kit"},
      {x: 351, y: 176, time: "hello kit"},
      {x: 359, y: 176, time: "hello kit"},
      {x: 365, y: 176, time: "hello kit"},
      {x: 370, y: 176, time: "hello kit"},
      {x: 374, y: 176, time: "hello kit"},
      {x: 383, y: 176, time: "hello kit"},
      {x: 390, y: 176, time: "hello kit"},
      {x: 399, y: 173, time: "hello kit"},
      {x: 402, y: 171, time: "hello kit"},
      {x: 403, y: 171, time: "hello kit"},
      {x: 404, y: 171, time: "hello kit"},
      {x: 405, y: 171, time: "hello kit"},
      {x: 406, y: 170, time: "hello kit"},
      {x: 407, y: 169, time: "hello kit"},
      {x: 410, y: 169, time: "hello kit"},
      {x: 413, y: 168, time: "hello kit"},
      {x: 416, y: 166, time: "hello kit"},
      {x: 418, y: 165, time: "hello kit"},
      {x: 420, y: 164, time: "hello kit"},
      {x: 420, y: 162, time: "hello kit"},
      {x: 420, y: 161, time: "hello kit"},
      {x: 420, y: 160, time: "hello kit"},
      {x: 420, y: 160, time: "hello kit"},
      {x: 420, y: 158, time: "hello kit"},
      {x: 416, y: 156, time: "hello kit"},
      {x: 413, y: 155, time: "hello kit"},
      {x: 410, y: 155, time: "hello kit"},
      {x: 409, y: 154, time: "hello kit"},
      {x: 406, y: 154, time: "hello kit"},
      {x: 401, y: 154, time: "hello kit"},
      {x: 394, y: 153, time: "hello kit"},
      {x: 379, y: 153, time: "hello kit"},
      {x: 369, y: 153, time: "hello kit"},
      {x: 353, y: 157, time: "hello kit"},
      {x: 345, y: 161, time: "hello kit"},
      {x: 335, y: 168, time: "hello kit"},
      {x: 333, y: 169, time: "hello kit"},
      {x: 327, y: 175, time: "hello kit"},
      {x: 325, y: 177, time: "hello kit"},
      {x: 320, y: 184, time: "hello kit"},
      {x: 317, y: 189, time: "hello kit"},
      {x: 315, y: 194, time: "hello kit"},
      {x: 314, y: 197, time: "hello kit"},
      {x: 313, y: 200, time: "hello kit"},
      {x: 312, y: 203, time: "hello kit"},
      {x: 312, y: 207, time: "hello kit"},
      {x: 312, y: 213, time: "hello kit"},
      {x: 312, y: 217, time: "hello kit"},
      {x: 312, y: 219, time: "hello kit"},
      {x: 313, y: 226, time: "hello kit"},
      {x: 314, y: 229, time: "hello kit"},
      {x: 315, y: 230, time: "hello kit"},
      {x: 318, y: 232, time: "hello kit"},
      {x: 321, y: 237, time: "hello kit"},
      {x: 325, y: 241, time: "hello kit"},
      {x: 333, y: 247, time: "hello kit"},
      {x: 343, y: 253, time: "hello kit"},
      {x: 356, y: 260, time: "hello kit"},
      {x: 369, y: 263, time: "hello kit"},
      {x: 377, y: 264, time: "hello kit"},
      {x: 385, y: 265, time: "hello kit"},
      {x: 393, y: 268, time: "hello kit"},
      {x: 416, y: 268, time: "hello kit"},
      {x: 432, y: 268, time: "hello kit"},
      {x: 445, y: 268, time: "hello kit"},
      {x: 457, y: 266, time: "hello kit"},
      {x: 473, y: 260, time: "hello kit"},
      {x: 484, y: 255, time: "hello kit"},
      {x: 495, y: 252, time: "hello kit"},
      {x: 506, y: 247, time: "hello kit"},
      {x: 514, y: 245, time: "hello kit"},
      {x: 519, y: 243, time: "hello kit"},
      {x: 522, y: 241, time: "hello kit"},
      {x: 526, y: 238, time: "hello kit"},
      {x: 528, y: 237, time: "hello kit"},
      {x: 531, y: 235, time: "hello kit"},
      {x: 534, y: 232, time: "hello kit"},
      {x: 538, y: 230, time: "hello kit"},
      {x: 539, y: 217, time: "hello kit"},
      {x: 537, y: 217, time: "hello kit"},
      {x: 535, y: 217, time: "hello kit"},
      {x: 533, y: 217, time: "hello kit"},
      {x: 527, y: 217, time: "hello kit"},
      {x: 524, y: 218, time: "hello kit"},
      {x: 522, y: 220, time: "hello kit"},
      {x: 519, y: 221, time: "hello kit"},
      {x: 517, y: 224, time: "hello kit"},
      {x: 515, y: 226, time: "hello kit"},
      {x: 514, y: 227, time: "hello kit"},
      {x: 513, y: 230, time: "hello kit"},
      {x: 510, y: 234, time: "hello kit"},
      {x: 510, y: 235, time: "hello kit"},
      {x: 507, y: 237, time: "hello kit"},
      {x: 506, y: 239, time: "hello kit"},
      {x: 503, y: 243, time: "hello kit"},
      {x: 499, y: 246, time: "hello kit"},
      {x: 495, y: 249, time: "hello kit"},
      {x: 491, y: 252, time: "hello kit"},
      {x: 484, y: 255, time: "hello kit"},
      {x: 478, y: 260, time: "hello kit"},
      {x: 471, y: 262, time: "hello kit"},
      {x: 464, y: 264, time: "hello kit"},
      {x: 456, y: 266, time: "hello kit"},
      {x: 444, y: 266, time: "hello kit"},
      {x: 434, y: 268, time: "hello kit"},
      {x: 429, y: 269, time: "hello kit"},
      {x: 416, y: 274, time: "hello kit"},
      {x: 409, y: 276, time: "hello kit"},
      {x: 403, y: 279, time: "hello kit"},
      {x: 395, y: 282, time: "hello kit"},
      {x: 387, y: 285, time: "hello kit"},
      {x: 380, y: 287, time: "hello kit"},
      {x: 367, y: 289, time: "hello kit"},
      {x: 359, y: 290, time: "hello kit"},
      {x: 350, y: 292, time: "hello kit"},
      {x: 340, y: 294, time: "hello kit"},
      {x: 334, y: 296, time: "hello kit"},
      {x: 328, y: 300, time: "hello kit"},
      {x: 323, y: 305, time: "hello kit"},
      {x: 319, y: 310, time: "hello kit"},
      {x: 315, y: 315, time: "hello kit"},
      {x: 312, y: 318, time: "hello kit"},
      {x: 309, y: 320, time: "hello kit"},
      {x: 304, y: 324, time: "hello kit"},
      {x: 299, y: 327, time: "hello kit"},
      {x: 294, y: 329, time: "hello kit"},
      {x: 288, y: 331, time: "hello kit"},
      {x: 283, y: 335, time: "hello kit"},
      {x: 276, y: 338, time: "hello kit"},
      {x: 269, y: 340, time: "hello kit"},
      {x: 256, y: 346, time: "hello kit"},
      {x: 247, y: 349, time: "hello kit"},
      {x: 244, y: 350, time: "hello kit"},
      {x: 238, y: 352, time: "hello kit"},
      {x: 234, y: 352, time: "hello kit"},
      {x: 227, y: 354, time: "hello kit"},
      {x: 222, y: 357, time: "hello kit"},
      {x: 218, y: 358, time: "hello kit"},
      {x: 212, y: 358, time: "hello kit"},
      {x: 209, y: 360, time: "hello kit"},
      {x: 205, y: 360, time: "hello kit"},
      {x: 202, y: 360, time: "hello kit"},
      {x: 200, y: 360, time: "hello kit"},
      {x: 198, y: 360, time: "hello kit"},
      {x: 196, y: 358, time: "hello kit"},
      {x: 195, y: 356, time: "hello kit"},
      {x: 194, y: 353, time: "hello kit"},
      {x: 194, y: 349, time: "hello kit"},
      {x: 193, y: 346, time: "hello kit"},
      {x: 193, y: 345, time: "hello kit"},
      {x: 193, y: 344, time: "hello kit"},
      {x: 193, y: 342, time: "hello kit"},
      {x: 193, y: 341, time: "hello kit"},
      {x: 195, y: 341, time: "hello kit"},
      {x: 197, y: 340, time: "hello kit"},
      {x: 199, y: 339, time: "hello kit"},
      {x: 201, y: 338, time: "hello kit"},
      {x: 204, y: 338, time: "hello kit"},
      {x: 208, y: 338, time: "hello kit"},
      {x: 210, y: 338, time: "hello kit"},
      {x: 212, y: 338, time: "hello kit"},
      {x: 214, y: 338, time: "hello kit"},
      {x: 215, y: 338, time: "hello kit"},
      {x: 217, y: 338, time: "hello kit"},
      {x: 221, y: 338, time: "hello kit"},
      {x: 224, y: 338, time: "hello kit"},
      {x: 226, y: 337, time: "hello kit"},
      {x: 227, y: 337, time: "hello kit"},
      {x: 230, y: 336, time: "hello kit"},
      {x: 234, y: 336, time: "hello kit"},
      {x: 239, y: 309, time: "hello kit"},
      {x: 243, y: 307, time: "hello kit"},
      {x: 245, y: 307, time: "hello kit"},
      {x: 246, y: 321, time: "hello kit"},
      {x: 245, y: 346, time: "hello kit"},
      {x: 234, y: 380, time: "hello kit"}
    ]
    var PAINT_INTENSITY = 1/500;
    var PAINT_SIZE = 30;
    var canvas = document.getElementById("heatmap-area");
    var heatmap = createWebGLHeatmap({canvas: canvas, intensityToAlpha:true});

    var convertToMinutes = function(raw) {
      var minutes = Math.floor(raw / 60);
      raw = raw - minutes * 60;
      return minutes + " min. " + raw + " sec.";
    }

    /* BOOTSTRAP SLIDER */
    $('.slider').slider({
      formater: function(value) {
        //return convertToMinutes(value);
console.log(value);
        var object = data[parseInt(value)];
        if (object) {
          return data[parseInt(value)]['time'];
        }
        return null;
      }   
    }).on('slide', function(e) {
        heatmap.clear();
        paintAtCoords(data.slice(e.value[0],e.value[1]));
    });

    var paintAtCoord = function(x, y){
        var count = 0;
        while(count < 100){
            var xoff = Math.random()*2-1;
            var yoff = Math.random()*2-1;
            var l = xoff*xoff + yoff*yoff;
            if(l > 1){
                continue;
            }
            var ls = Math.sqrt(l);
            xoff/=ls; yoff/=ls;
            xoff*=1-l; yoff*=1-l;
            count += 1;
            heatmap.addPoint(x+xoff*20, y+yoff*20, PAINT_SIZE, PAINT_INTENSITY);
        }
    }

    var paintAtCoords = function(list) {
      var end = list.length;
      for (var i = 0; i < end; i++) {
        paintAtCoord(list[i]["x"], list[i]["y"]);
      }
    }

    // event handling
    var onTouchMove = function(evt){
        evt.preventDefault();
        var touches = evt.changedTouches;
        for(var i=0; i<touches.length; i++){
            var touch = touches[i];
            paintAtCoord(touch.pageX, touch.pageY);
        }
    };
    canvas.addEventListener("touchmove", onTouchMove, false);

    canvas.onmousemove = function(event){
        var x = event.offsetX || event.clientX;
        var y = event.offsetY || event.clientY;
    }

    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
                             window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;

    var update = function(){
        //heatmap.addPoint(100, 100, 100, 10/255);
        heatmap.adjustSize(); // can be commented out for statically sized heatmaps, resize clears the map
        heatmap.update(); // adds the buffered points
        heatmap.display(); // adds the buffered points
        //heatmap.multiply(0.9995);
        //heatmap.blur();
        //heatmap.clamp(0.0, 1.0); // depending on usecase you might want to clamp it
        raf(update);
    }

    raf(update);

    // This function will replay a set of datapoints on the heatmap, putting a new point up every 50 ms.
    var play = function(list, start, end) {
      console.log("data.length = " + end);
      var i = start;
      var intervalID = setInterval(function(){
        //heatmap.addPoint(list[i]["x"], list[i]["y"], list[i]["size"], list[i]["intensity"]/2);
        heatmap.clear();
        //heatmap.addPoints(list.slice(0, i));
        //paintAtCoord(list[i]["x"], list[i]["y"]);
        paintAtCoords(list.slice(0,i));
        i++;
        if (i >= end)
          window.clearInterval(intervalID);
      }, 50);
      console.log("finished!");
    }

    paintAtCoords(data);
}
</script>

{% endblock %}
