<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="static/css/login.css" />
	<link rel="stylesheet" href="static/css/validationEngine.jquery.css" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="static/js/login.js"></script>
	<script src="static/js/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<title>parsnip | Login</title>
</head>
<body>

	<div id="header">
		<div id="name-container">
			<a href="/#home"><span id="site-title-black">parsnip</span></a>
		</div>
		<div id="links-container">
			<span class="underline header-links"><a href="/#home">About</a></span>
			<span class="underline header-links"><a href="/#analytics">Analytics</a></span>
			<span class="underline header-links"><a href="/#interface">Interface</a></span>
			<span class="header-links header-sign-lower"><a href="/user/register">Register</a></span>
		</div>
	</div>
	
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		  	<div class="sign-up">
		    <ul class=flashes>
		    {% for message in messages %}
		      <li class="error-message">{{ message }}</li>
		    {% endfor %}
		    </ul>
		    </div>
		    <br />
		  {% endif %}
		{% endwith %}
	<form class="sign-up" id="login" action='/user/login' method='POST'>
	    <h1 class="sign-up-title">Welcome!</h1>
	    {% if defaultEmail %}
	    	<input value="{{defaultEmail}}" name="email" type="email" class="sign-up-input validate[required,custom[email]]" placeholder="email">
	    	<input name="password" type="password" class="sign-up-input" placeholder="password" autofocus required>
	    {% else %}
	    	<input name="email" type="email" class="sign-up-input validate[required,custom[email]]" placeholder="email" autofocus required>
	    	<input name="password" type="password" class="sign-up-input" placeholder="password">
	    {% endif %}

	    <button value="Login" class="sign-up-button">Login</button>
  </form>
</body>
</html>