<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="static/css/login.css" />
	<link rel="stylesheet" href="static/css/validationEngine.jquery.css" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="static/js/login.js"></script>
	<script src="static/js/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<title>parsnip | Register</title>
</head>
<body>
	<div id="header">
		<div id="name-container">
			<a href="/#home"><span id="site-title">parsnip</span></a>
		</div>
		<div id="links-container">
			<span class="underline" id="header-links"><a href="/#home">About</a></span>
			<span class="underline" id="header-links"><a href="/#analytics">Analytics</a></span>
			<span class="underline" id="header-links"><a href="/#interface">Interface</a></span>
			<span id="header-links"><a href="/user/login"><button id="sign-in-login">Sign In</button></a></span>
		</div>
	</div>

	<form class="sign-up" id="register" action='/user/register' method='POST'>
	    <h1 class="sign-up-title">Register</h1>
	    <input name="firstname" type="text" class="validate[required,maxSize[40]] sign-up-input" placeholder="First Name" autofocus required>
	    <input name="lastname" type="text" class="validate[required,maxSize[40]] sign-up-input" placeholder="Last Name" required>
	    <input name="email" type="email" class="validate[required,custom[email]] sign-up-input" placeholder="Email" required>
	    <input name="password" type="password" class="validate[required,minSize[6],maxSize[15]] sign-up-input" placeholder="Password" required>
	    <button value="Login" class="sign-up-button">Register</button>
  </form>
</body>
</html>