<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="static/css/jquery.fullPage.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="static/javascript/jquery.fullPage.js"></script>
	<script type="text/javascript" src="static/javascript/jquery.slimscroll.min.js"></script>    
	<script type="text/javascript" src="static/javascript/home.js"></script>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<title>#heaped</title>
</head>
<body>
	<div id="header">
		<div id="name-container">
			<span id="site-title">prtio</span>
		</div>
		<div id="links-container">
			<span>Hello</span>
			<span>Goodbye</span>
			<span>Nobody</span>
			<a href="/login"><button id="signin">Sign In</button></a>
		</div>
	</div>
	<div class="section active" id="home-view">
		<h1> Get real-time analytics for your brick-and-mortar with <b>CS323</b> </h1>
		<h2>a powerful interface to manage your customer's interaction in meatspace #HEAPED</h2>

		<button> GET STARTED </button>
		<img id="hand" src="../static/images/hand.png" />
	</div>
	<div class="section" id="how-it-works-view">
		<h1> Analytics and Advertising </h1>

		<h2> Grab your user's locations and browsing habits with Apple's iBeacon technology <h2>

		<ul>
		<li>Find out how to alter your layout to maximize efficiency</li>
		<li>Discover which products tend to attract attention, and compare to which products sell</li>
		<li>Push targeted notifications to customers' mobile devices within range of iBeacons</li>
		<li>Works on all iOS and Android mobile platforms</li>
</ul>
	</div>
	<div class="section" id="about-view">
		<h1> An intuitive graphical interface </h1>

		<p>
		CS323 allows you to visualize location data as a time-varying heat map so you can see where your customers spent most of their time browsing.</br></br>
		Use our simple web interface to upload blueprints, create layouts, and program automatic advertisements.</br></br>
		Manage your interactions with customers via our iOS app, available in the App Store.</br></br>
		</p>

	</div>
	<!-- <h1>CPSC 439</h1> -->
</body>
</html>