<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="static/css/jquery.fullPage.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="static/javascript/jquery.fullPage.js"></script>
	<script type="text/javascript" src="static/javascript/jquery.slimscroll.min.js"></script>    
	<script type="text/javascript" src="static/javascript/home.js"></script>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<title>Storefront Analysis Professional 2014</title>
</head>

<body>
	<div id="header">
		<div id="name-container">
			<span id="site-title">#heaped</span>
		</div>
		<div id="links-container">
			<span class="underline" id="header-links"><a href="/#home">About</a></span>
			<span class="underline" id="header-links"><a href="/#analytics">Analytics</a></span>
			<span class="underline" id="header-links"><a href="/#interface">Interface</a></span>
			<span id="header-links"><a href="/login"><button id="sign-in">Sign In</button></a></span>
		</div>
	</div>

	<div class="section active" id="home-view">
		<div class="text-shadow color-white" id="body-container">
			<h1> Real-time analytics for brick &amp; mortar with <span id="content-title">#heaped</span></h1>
			<h2 id="main-text-2">a powerful interface to manage your customers in meatspace</h2></br></br>
			<a href="/login"><button id="sign-in">Get Started</button></a>
		</div>
		<a href="#analytics"><div class="arrow animated bounce"></div></a>
	</div>

	<div class="section" id="how-it-works-view">
		<div id="column">
			<img src='/static/images/estimote.png'>
		</div>

		<div id="column" style="width: 55%; position:absolute; top:35%;">
			<h1> Analytics and Advertising </h1>
			<h2> Grab your user's locations and browsing habits with Apple's iBeacon technology </h2></br>
			<p>Alter your layout to maximize efficiency</p>
			<p>Discover which products tend to attract attention &amp; compare to which products sell</p>
			<p>Push targeted notifications to customers' mobile devices</p>
			<p>Works on all iOS &amp; Android mobile platforms</p>
		</div>

	</div>

	<div class="section" id="about-view">
		<div id="body-container">

			<h1> An intuitive graphical interface </br></br></h1>
			<div>
				<div id="column">
					<img src='/static/images/hanger.png' width="65%"></br></br></br>
					<h2>1.</h2>
					<p>Visualize location data as a time-varying heat map so you can see where your customers spent most of their time browsing.</p>
			  </div>
				
				<div id="column">
					<img src='/static/images/blueprint.png' width="65%"></br></br></br>
					<h2>2.</h2>
					<p>Use our simple web interface to upload blueprints, create layouts &amp; push automatic advertisements.</p>
				</div>

				<div id="column">
					<img src='/static/images/phone.png' height="185%"></br></br></br>
					<h2>3.</h2>
					<p>Manage your interactions with customers via our iOS app, available in the App Store.</p>
				</div>
			</div>

		</div>

	</div>

</body>
</html>