<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="static/css/jquery.fullPage.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="static/javascript/jquery.fullPage.js"></script>
	<script type="text/javascript" src="static/javascript/jquery.slimscroll.min.js"></script>    
	<script type="text/javascript" src="static/javascript/home.js"></script>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<title>parsnip</title>
</head>

<body>
	<div id="header">
		<div id="name-container">
			<a href="/#home"><span id="site-title">parsnip</span></a>
		</div>
		<div id="links-container">
			<span class="underline" id="header-links"><a href="/#home">About</a></span>
			<span class="underline" id="header-links"><a href="/#analytics">Analytics</a></span>
			<span class="underline" id="header-links"><a href="/#interface">Interface</a></span>
			<span id="header-links"><a href="/user/login"><button id="sign-in">Sign In</button></a></span>
		</div>
	</div>

	<div class="section active" id="home-view">
		<div class="text-shadow color-white" id="body-container">
			<h1> Real-time analytics for brick &amp; mortar with <span id="content-title">parsnip</span></h1>
			<h2 id="main-text-2">a powerful interface to manage your customers in meatspace</h2></br></br>
			<a href="/user/register"><button id="sign-in">Get Started</button></a>
		</div>
		<a href="#analytics"><div class="arrow animated bounce"></div></a>
	</div>

	<div class="section" id="how-it-works-view">
		<div id="column">
			<img src='/static/images/estimote.png'>
		</div>

		<div id="column" style="width: 55%; position:absolute; top:35%;">
			<h1> Analytics and Advertising </h1></br></br>
			<h2 id="analytics-h2"> Grab your user's locations and browsing habits with Apple's iBeacon technology </h2></br>
			<ul class="diamond">
				<li><p class="analytics-text">Alter your layout to maximize efficiency</p></li>
				<li><p class="analytics-text">Discover which products tend to attract attention &amp; compare to which products sell</p></li>
				<li><p class="analytics-text">Push targeted notifications to customers' mobile devices</p></li>
				<li><p class="analytics-text">Works on all iOS &amp; Android mobile platforms</p></li>
			</ul>
		</div>

	</div>

	<div class="section" id="about-view">
		<div id="body-container">

			<h1 id="gi-text"> An intuitive graphical interface</h1></br></br></br></br>
			<div>
				<div id="column">
					<img src='/static/images/hanger.png' width="68%"></br></br></br>
					<h2 class="gi-block">1.</h2>
					<p id="gi-descrip">Visualize location data as a time-varying heat map so you can see where your customers spent most of their time browsing.</p></br>
					<a href="/visuals"><button class="btn-white">Heat Map</button></a>
			  	</div>
				
				<div id="column">
					<img src='/static/images/blueprint.png' width="70%"></br></br></br>
					<h2 class="gi-block">2.</h2>
					<p id="gi-descrip">Use our simple web interface to upload blueprints, create layouts &amp; push automatic advertisements.</p></br>
					<a href="file:///Users/jasonbrooks/Documents/Code/Yale/SoftEng/public/svg-edit-2.6/svg-editor.html"><button class="btn-white">Editor</button></a>
				</div>

				<div id="column">
					<img src='/static/images/phone.png' width="28%"></br></br></br>
					<h2 class="gi-block">3.</h2>
					<p id="gi-descrip">Manage your interactions with customers via our iOS app, available in the App Store.</p>
				</div>
			</div>

		</div>

	</div>

</body>
</html>